* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #f8f8f8;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
  width: 100%;
  position: fixed;
}

.logo img {
  height: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}
#hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero img {
  width: 80%;
}

/* About section styles */
#about {
  padding: 40px;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}
.contain {
  width: 85%;
}

#about h2 {
  text-align: center;
  margin-bottom: 20px;
}

#about p {
  display: flex;
  text-align: center;
}

/* Menu section styles */
#menu {
  padding: 40px;
  background-color: #f8f8f8;
  margin-top: 50px;
}

#menu h2 {
  text-align: center;
  margin-bottom: 20px;
}

.menu-carousel {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  overflow-y: scroll;
}

.menu-card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.menu-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.menu-card h3 {
  margin-bottom: 10px;
}

.menu-card p {
  color: #888;
}

#reviews {
  margin-top: 50px;
}
#reviews h2 {
  text-align: center;
  padding-bottom: 50px;
}

.review-carousel {
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.review-card {
  flex: 0 0 300px;
  margin-right: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.review-card:last-child {
  margin-right: 0;
}

.review-card.active {
  transform: translateX(0);
}

.review-card.next {
  transform: translateX(100%);
}

.review-card.previous {
  transform: translateX(-100%);
}

/* Contact section styles */
#contact {
  padding: 40px;
  background-color: #b3b3b3;
}

#contact h2 {
  text-align: center;
  margin-bottom: 50px;
}

#contact form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contact form label {
  display: block;
  margin-bottom: 10px;
}

#contact form input,
#contact form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#contact form input[type="submit"] {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.contact-section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.contact-info {
  flex: 0 0 50%;
  padding-right: 20px;
}

.map-container {
  padding-top: 100px;
  flex: 0 0 50%;
}

footer {
  padding: 20px;
  background-color: #b3b3b3;
  text-align: center;
}

.social-media {
  margin-bottom: 10px;
}

.social-media a {
  display: inline-block;
  margin-right: 10px;
}

/* styles.css */

/* Responsive styles */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    margin-bottom: 10px;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  #about,
  #menu,
  #reviews,
  #contact {
    padding: 20px;
  }

  .menu-card {
    width: 100%;
    margin: 10px 0;
  }

  #contact form input,
  #contact form textarea {
    width: 100%;
  }
}
